<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Loop over the product list -->
                <div *ngFor = "let prod of product" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{prod?.id}}">
                        <img src="{{prod.imageUrl}}" alt="image" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{prod?.id}}">
                        <h1> {{prod.name}} </h1>
                        </a>
                        <div class="price"> {{prod.unitPrice | currency: 'INR'}} </div>
                        <a href="#" class="primary-btn">Add to Cart</a>
                    </div>
                </div>
                <div *ngIf="product?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No Prodcuts found.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let t of product">
            <td class="align-middle">
                <img [src]="t.imageUrl" alt="placeholder" height="50">
            </td>
            <td class="align-middle">{{t.name}}</td>
            <td class="align-middle"> {{t.unitPrice | currency: 'INR'}} </td>
            <td class="align-middle"> {{t.unitInStock}} </td>
        </tr>
    </tbody>
</table> -->